{% load staticfiles %}
<html>
    <head>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Here we go</title>
    </head>
    <body>
    	<div class="page-header">
        	<h1><a href=""> Malu usando Django \o/</a></h1>
        </div>
        <div class="subtitle">
        	<h2> Tks Django Girls</h2>
        	<h3><strong>#GRLPWR</strong></h3>
        </div>
        <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>